.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #282c34;

  padding: 5px 15px;
  margin: 0;
  z-index: 1;
  
}

.menu {
  box-shadow: 0px 2px 6px gray;
  background-color: #3a4355;
  
  display: flex;
  flex-direction: row;
  padding: 0 80px;
}

.menu div {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Raleway';
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px lightgray;
  padding: 0 30px;
  transition: background-color 0.2s ease-in-out;
}

.menu div:hover {
  background-color: #495469;
}

.title {
  font-weight: 900;
  font-family: 'Titilium Web', sans-serif;
  color: white;
  font-size: 64px;
  text-shadow: 0px 0px 5px lightgray;

  width: auto;
  display: inline-block;
}

.btn {
  font-weight: 900;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  text-shadow: 0px 0px 5px dimgray;
  font-family: 'Raleway';

  background-color: #FE5F55;
  border: none;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}