.input {
  height: 30px;
  width: 10%;

  margin-right: 30px;

  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  outline: none;

  font-family: 'Raleway';
  font-size: 14pt;

  transition: all 0.3s ease-in-out;
  align-self: center;
  position: absolute;
  right: 0;
}

.input:focus {
  width: 15%;
}
